body {
    background-color: #864393;
    font-size: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}